body{
    font-family: "Poppins", Arial, sans-serif;  
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(253, 247, 240);
}
.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
  }

#navbarNav a:hover{
    color: white;
     
}
.hello2{
    background-color: white; 
}
.con{
    padding: 0px;
}

@media (max-width:770px){
    .media{
        background-color: rgb(9, 74, 100);
        padding:0px;
        
    }
    .hidden{
        visibility:hidden;
        display: none;
    }
    .caresol{
        margin: 130px;
    }
   
    
}

@media (max-width:770px){
    .postimages h3{
        text-align: center;

    }
}

.bannerimage{
    background-image: url(/html_project/images/xbg_2.webp);  height: 100vh; background-repeat: no-repeat;background-position: right; background-size: 50%;
}
@media (max-width:770) {
    .bannerimage{
        display: none;
    }
    
}