body{
    font-family: "Poppins", Arial, sans-serif;  
    border: none;
    margin: 0;
    padding: 0;
}
.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
  }

#navbarNav a:hover{
    color: white;
     
}
.hello2{
    background-color: white; 
}
.con{
    padding: 0px;
}
@media (max-width:500px){
    .media{
        background-color: rgb(9, 74, 100);
        padding:0px;
        
    }
    
}